{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block body %}


<div class="container">

    <div class="list-group py-5">
        <div class="card my-4">
            <h5 class="card-header">Create Alert</h5>
            <div class="card-body">
            <p class="card-text"> Click this button to create a alert </p>
            <a href="c_alert" class="btn btn-primary">Create</a>
            </div>
        </div>
        
        <div class="card my-4">
            <h5 class="card-header">View Existing Alert</h5>
            <div class="card-body">
                <p class="card-text"> Click this button to view existing alert </p>
                <a href="view_alerts" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
        

</div>


{% endblock body %}
